name: FGChat
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.1.2+12

dependencies:
  flutter:
    sdk: flutter
  device_info: ^0.4.0+1
  dio: ^2.0.7
  path_provider: ^0.5.0+1
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  image_picker: ^0.5.0+3
  flutter_luban: ^0.1.5
  flutter_html: ^0.9.4
  shared_preferences: ^0.5.1+1
  flutter_local_notifications: ^0.5.1+2
  url_launcher: ^5.0.1
  open_file: ^1.2.3
  flutter_bugly: ^0.1.6+2
  flutter_stack_trace: ^0.1.5
  connectivity: ^0.3.2
  toast: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
#  flutter_gsyplayer:
#    git:
#      url: git://github.com/crazecoder/flutter_gsyplayer.git
  flutter_ijkplayer:
    git:
      url: git://github.com/crazecoder/flutter_ijkplayer_beta.git

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
